<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20140621-手势解锁.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1B5B9341CC85D91001AFB31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1B5B94D1CC85D91001AFB31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1B5B9581CC85D91001AFB31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
